/* Сброс стилей для всех элементов на странице */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Сброс стилей для html и body */
html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
}

/* Убираем стандартные отступы у списков */
ul, ol {
    list-style: none;
}

/* Убираем стандартные отступы у блоков и таблиц */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Сброс стилей для изображений */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Убираем подчеркивание у ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Убираем поля и отступы у форм */
button, input, select, textarea {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Сброс стилей для блоков */
blockquote, q {
    quotes: none;
}

/* Убираем стандартные отступы у элементов */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* Сброс для div и других блоков */
div, span {
    display: block;
}

/* Убираем фокус с элементов формы */
:focus {
    outline: none;
}











/* sigmar-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sigmar-one-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html{
    box-sizing: border-box;
  }
  
  *, *::before, *::after{
    box-sizing: inherit;
  }
  .item{
    width: 200px;
    height: 100px;
    background-color: black;
    padding: 20px;
  }

  /* Стили для body */
body {
    font-family: "Sigmar One", sans-serif;
    height: 100vh; /* Высота окна */
    display: flex;
    flex-direction: column; /* Это заставляет элементы располагаться вертикально */
    justify-content: flex-start; /* Все элементы начинаются с верхней границы */
    align-items: center; /* Центрируем элементы по горизонтали */
    background-color: #000000;
}

/* Стили для блока с заголовком */
.header {
    text-align: center;
    margin-top: 51px; /* Отступ сверху от верхней границы */
}

/* Стили для интерактивной ссылки */
.interactive-title {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Сохраняем цвет текста */
    transition: color 0.3s ease;
}

/* Стили для 1 заголовка */
h1 {
    font-size: 64px; /* Размер шрифта */
    color: #FF0000;
    margin: 20px 0; /* Отступы сверху и снизу для заголовка */
    padding: 0 15px; /* Отступы слева и справа для текста */
}

/* Стили для 2 заголовка */
.interactive-title + .interactive-title h1 {
    font-size: 40px; /* Новый размер шрифта для второго заголовка */
    margin-top: 47px; /* Отступ сверху для второго заголовка */
    
}


/* Эффект при наведении */


/* Стили для контейнера */
.container {
    width: 1074px; /* Фиксированная ширина контейнера */
    height: 650px; /* Фиксированная высота контейнера */
    background-color: none; /* Белый фон */
    padding: 0px; /* Отступы внутри контейнера */
    margin-top: 90px;
    margin-bottom: 67px;
    display: flex;
    flex-wrap: wrap;
}

.container_1 {
    width: 204px ;
    height: 284px;
    background-color: black;
    margin-left: 36px;

}

.container_1 img {
    width: 100%; /* Делаем картинку растянутой на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    transition: transform 0.3s ease-in-out; /* Плавное изменение размера */
}

.container_1 img:hover {
    transform: scale(1.1); /* Увеличиваем картинку на 10% при наведении */
}

/* Стили для обертки изображения и подписи */
.image-wrapper {
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрируем изображение и подпись по горизонтали */
}

/* Стили для изображения с фиксированными размерами */
.container-image {
    width: 204px; /* Ширина изображения */
    height: 204px; /* Высота изображения */
     /* Отступ слева для изображения */
}

/* Стили для подписи */
.image-caption_1 {
    text-align: center; /* Центрируем текст подписи */
    margin-top: 10px; /* Отступ сверху для подписи */
    font-size: 14px; /* Размер шрифта для подписи */
    color: #FF0000; /* Цвет текста подписи */
    width: 204px; /* Ширина подписи будет совпадать с изображением */
    
}

/* Дополнительный отступ для второй подписи */
.image-caption_1:nth-of-type(2) {
    margin-top: 0px; /* Отступ сверху для второй подписи */
    font-size: 20px; /* Другой размер шрифта для второй подписи */

}

.container_2 {
    width: 204px ;
    height: 284px;
    background-color: black;
    margin-left: 210px; 
}

.container_2 img {
    width: 100%; /* Делаем картинку растянутой на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    transition: transform 0.3s ease-in-out; /* Плавное изменение размера */
}

.container_2 img:hover {
    transform: scale(1.1); /* Увеличиваем картинку на 10% при наведении */
}

.image-caption_2 {
    text-align: center; /* Центрируем текст подписи */
    margin-top: 10px; /* Отступ сверху для подписи */
    font-size: 14px; /* Размер шрифта для подписи */
    color: #FF0000; /* Цвет текста подписи */
    width: 204px; /* Ширина подписи будет совпадать с изображением */   
}

/* Дополнительный отступ для второй подписи */
.image-caption_2:nth-of-type(2) {
    margin-top: 0px; /* Отступ сверху для второй подписи */
    font-size: 20px; /* Другой размер шрифта для второй подписи */
}

.container_3 {
    width: 204px ;
    height: 284px;
    background-color: black;
    margin-left: 210px; 
}

.container_3 img {
    width: 100%; /* Делаем картинку растянутой на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    transition: transform 0.3s ease-in-out; /* Плавное изменение размера */
}

.container_3 img:hover {
    transform: scale(1.1); /* Увеличиваем картинку на 10% при наведении */
}


.image-caption_3 {
    text-align: center; /* Центрируем текст подписи */
    margin-top: 10px; /* Отступ сверху для подписи */
    font-size: 14px; /* Размер шрифта для подписи */
    color: #FF0000; /* Цвет текста подписи */
    width: 204px; /* Ширина подписи будет совпадать с изображением */   
}

/* Дополнительный отступ для второй подписи */
.image-caption_3:nth-of-type(2) {
    margin-top: 0px; /* Отступ сверху для второй подписи */
    font-size: 20px; /* Другой размер шрифта для второй подписи */
}

.container_4 {
    width: 204px ;
    height: 284px;
    background-color: black;
    margin-left: 36px; 
    margin-top: 71px;
}

.container_4 img {
    width: 100%; /* Делаем картинку растянутой на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    transition: transform 0.3s ease-in-out; /* Плавное изменение размера */
}

.container_4 img:hover {
    transform: scale(1.1); /* Увеличиваем картинку на 10% при наведении */
}

.image-caption_4 {
    text-align: center; /* Центрируем текст подписи */
    margin-top: 10px; /* Отступ сверху для подписи */
    font-size: 14px; /* Размер шрифта для подписи */
    color: #FF0000; /* Цвет текста подписи */
    width: 204px; /* Ширина подписи будет совпадать с изображением */   
}

/* Дополнительный отступ для второй подписи */
.image-caption_4:nth-of-type(2) {
    margin-top: 0px; /* Отступ сверху для второй подписи */
    font-size: 20px; /* Другой размер шрифта для второй подписи */
}

.container_5 {
    width: 204px ;
    height: 284px;
    background-color: black;
    margin-left: 210px; 
    margin-top: 71px;
}

.container_5 img {
    width: 100%; /* Делаем картинку растянутой на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    transition: transform 0.3s ease-in-out; /* Плавное изменение размера */
}

.container_5 img:hover {
    transform: scale(1.1); /* Увеличиваем картинку на 10% при наведении */
}

.image-caption_5 {
    text-align: center; /* Центрируем текст подписи */
    margin-top: 10px; /* Отступ сверху для подписи */
    font-size: 14px; /* Размер шрифта для подписи */
    color: #FF0000; /* Цвет текста подписи */
    width: 204px; /* Ширина подписи будет совпадать с изображением */   
}

/* Дополнительный отступ для второй подписи */
.image-caption_5:nth-of-type(2) {
    margin-top: 0px; /* Отступ сверху для второй подписи */
    font-size: 20px; /* Другой размер шрифта для второй подписи */
}

.container_6 {
    width: 204px ;
    height: 284px;
    background-color: black;
    margin-left: 210px; 
    margin-top: 71px;
}

.container_6 img {
    width: 100%; /* Делаем картинку растянутой на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    transition: transform 0.3s ease-in-out; /* Плавное изменение размера */
}

.container_6 img:hover {
    transform: scale(1.1); /* Увеличиваем картинку на 10% при наведении */
}

.image-caption_6 {
    text-align: center; /* Центрируем текст подписи */
    margin-top: 10px; /* Отступ сверху для подписи */
    font-size: 14px; /* Размер шрифта для подписи */
    color: #FF0000; /* Цвет текста подписи */
    width: 204px; /* Ширина подписи будет совпадать с изображением */   
}

/* Дополнительный отступ для второй подписи */
.image-caption_6:nth-of-type(2) {
    margin-top: 0px; /* Отступ сверху для второй подписи */
    font-size: 20px; /* Другой размер шрифта для второй подписи */
}

.container_show {
    width: 1440px; /* Фиксированная ширина контейнера */
    height: 35px; /* Фиксированная высота контейнера */
    background-color: none; /* Белый фон */
    padding: 0px; /* Отступы внутри контейнера */
    margin-bottom: 199px;
    
}

.container_show_text{
    text-align: center;
    font-size: 32px;
    color: #FF0000;
}

.container_form {
    width: 1440px; /* Фиксированная ширина контейнера */
    height: 612px; /* Фиксированная высота контейнера */ 
    background-color: #FF0000; /* Белый фон */
    padding: 0px; /* Отступы внутри контейнера */
    position: relative;
}

.sign_up_text {
    width: 1440px; /* Фиксированная ширина контейнера */
    height: 43px; /* Фиксированная высота контейнера */ 
    margin-top: 53px;
    background-color: none;
    text-align: center;
    font-size: 32px;
}

.be_the_first {
    width: 1440px; /* Фиксированная ширина контейнера */
    height: 35px; /* Фиксированная высота контейнера */ 
    margin-top: 33px;
    background-color: none;
    text-align: center;
    font-size: 16px;
}

.container_info {
    width: 620px; /* Фиксированная ширина контейнера */
    height: 216px; /* Фиксированная высота контейнера */ 
    margin-top: 40px;
    background-color: none;
    margin-left: 410px;
}


.form_container {
    display: flex;
    align-items: center; /* Центрирование полей по вертикали */
    box-sizing: border-box; /* Учитываем границы контейнера в ширине */
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 306px; /* Ширина каждого поля */
    box-sizing: border-box; /* Учитываем padding и border в ширине */
}

input::placeholder {
    color: black;
}

#email {
    width: 620px;  /* Ширина поля для e-mail */
    height: 51px;  /* Высота поля для e-mail */
    margin-top: 10px; /* Можно добавить, если хотите отступ между полями */
}

select {
    height: 40px; /* Высота выпадающего списка */
    border: 1px solid #ddd; /* Устанавливаем рамку для select */
    box-sizing: border-box; /* Учитываем padding и border в ширину и высоту */
}

select option:hover {
    color: #FF0000;
}

#country {
    width: 620px;
    height: 51px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: none;  /* Красный цвет фона */
    color: black;                /* Белый текст */
    border: none;               /* Без рамки */
    border-radius: 4px;         /* Закругленные углы */
    font-size: 14px;            /* Размер шрифта */
    cursor: pointer;           /* Курсор в виде руки при наведении */
    margin-top: 10px;           /* Отступ сверху */
    width: 100%; 
    border: 1px solid #ddd;               /* Ширина кнопки */
}

button:hover {
    background-color: #cc0000; /* Цвет фона при наведении */
}

.container_by_sub {
    width: 608px;        /* Фиксированная ширина контейнера */
    height: 63px;        /* Фиксированная высота контейнера */
    background-color: none;
    display: flex;
    justify-content: center;  /* Горизонтальное центрирование содержимого */
    align-items: center;      /* Вертикальное центрирование содержимого */
    text-align: center;       /* Центрируем текст внутри контейнера */
    margin-top: 59px;         /* Отступ сверху, можно убрать, если не нужно */
    margin-left: 410px;
}

.by_sub{
    text-align: center;
    font-size: 13px;
 
}    

.nav_bar{
    width: 1440px;        /* Фиксированная ширина контейнера */
    height: 29px;        /* Фиксированная высота контейнера */
    background-color: none;
    display: flex; /* Вертикальное центрирование содержимого */
    margin-bottom: 72px;
    margin-top: 59px;     
}

.terms{
    font-size: 20px;
    color: #FF0000; 
    margin-left: 448px;
}

.privacy{
    font-size: 20px;
    color: #FF0000; 
    margin-left: 57px;
}

.returns{
    font-size: 20px;
    color: #FF0000; 
    margin-left: 57px;
}

.content{
    font-size: 20px;
    color: #FF0000; 
    margin-left: 57px;
}